<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Movements</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/simulation.js" defer></script>
    <link rel="stylesheet" href="/static/simulation.css">

    <!-- <link rel="stylesheet" href="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet.css" />
    <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/onemap-leaflet.js"></script> -->

    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; }
        .car-marker img {
            width: 6px;
            height: 12px;
            opacity: 0.3; /* Slightly faded */
            transform-origin: center;
            z-index: 1;
        }
        .bus-marker img {
            width: 16px;
            height: 28px;
            transform-origin: center;
            z-index: 10;
        }

    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_token }}';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-111.692020, 40.296440],
            zoom: 9
        });
    
        const markers = {};
        const socket = io();
    
        socket.on('update', (vehicles) => {
            vehicles.forEach(vehicle => {
                if (!markers[vehicle.id]) {
                    const el = document.createElement('div');
                    el.className = vehicle.type && vehicle.type.includes('bus') ? 'bus-marker' : 'car-marker';    
                    const iconPath = vehicle.type && vehicle.type.includes('bus')
                        ? '/static/bus-icon.png'
                        : '/static/car-icon.PNG';
    
                    el.innerHTML = `<img src="${iconPath}" alt="Vehicle Icon" />`;
    
                    markers[vehicle.id] = new mapboxgl.Marker(el)
                        .setLngLat([vehicle.x, vehicle.y])
                        .addTo(map);
                } else {
                    markers[vehicle.id].setLngLat([vehicle.x, vehicle.y]);
                }
    
                const img = markers[vehicle.id].getElement().querySelector('img');
                img.style.transform = `rotate(${vehicle.angle}deg)`;
            });
        });
    
        function clearAllMarkers() {
            for (let id in markers) {
                markers[id].remove();
            }
            Object.keys(markers).forEach(id => delete markers[id]);
        }
    
        socket.on('simulationEnded', () => {
            clearAllMarkers();
        });
    </script>
    <div id="map"></div>
    <div id="loading">Loading map...</div>
    <div id="tracking-status" class="collapsed">
        <span>Following Bus:  <span id="tracking-info"></span>  <button id="cancel-follow">Stop Following</button></span>
    </div>
    <div id="sliderBox">
        <label>Vehicle Size:
            <input type="range" min="300" max="12000" value="10000" id="scaling">
        </label>
        <br>
        <label>
            Vehicle Labels:
            <input type="checkbox" id="labels-visible">
        </label>
    </div>
</body>
</html>