quart-sqlalchemy==3.0.4
flask-socketio==5.5.1
python-dotenv==1.1.0
quart-cors==0.8.0
aiohttp==3.11.16
quart-db==0.9.0
asyncpg==0.30.0
boto3==1.37.34
quart==0.20.0
bcrypt==4.3.0
pytest==8.3.5
traci==1.22.0
flask==3.1.0