#main-content-dashboard {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
    padding: 15px;
}

.sumo-sim {
    height: 45%;
    width: 100%;
}

.sim-tools {
    height: 5%;
    width: 100%;
    background-color: var(--lavender);
}

.stats {
    width: 100%;
    height: 37%;
}

.tools {
    /* height: 30%; */
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.tools-items {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--lavender);
    border-radius: 12px;
    margin: 15px;
    font-weight: bold;
}
